.component__dpad {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 50%;
  height: calc(40vh - 30px);
  margin-top: 10px;
}

.component__dpad-settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 5px;

  .dpad-settings__increment {
    text-align: center;
    max-width: 50px;
    margin: 0 5px;
  }
}

.component__dpad-top {
  display: flex;
  align-items: center;
  justify-content: center; // can import these
  width: 100%;
  height: 25%;
}

.dpad-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}

.component__dpad-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 0 10px;
}

.component__dpad-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
}