.component__sweep-sample {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 5px;
  margin-top: 10px;

  * {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }

  input {
    max-width: 50px;
    text-align: center;

    &.sweep-sample-delay {
      max-width: 100px;
    }
  }

  .sweep-sample-btn {
    cursor: pointer;
  }
}